{# empty Twig template #}

{% import "form.macro.twig" as forms %}

{{ set_assets('applications/Cms/assets/css/article.css') }}

{% set item_url =  generate_url('cms.blogs.detail', null, 0, items.0)  %}

<form action="{{ generate_url('cms.blogs') }}" method="POST">

    <h1 class="component-header">Blogs</h1>

    <div class="cms-row-article">
        <div class="cms-top-article">

            <div class="col-sm-6">
                <div class="cms-article-title">
                    <a href="{{ item_url }}" ittle='{{ items.0.title }}'>
                        {{ items.0.title }}
                    </a>
                </div>

                <div class="article-update-info">
                    <div class="text-capitalize">
                        <a>
                            <i class="fa fa-user"></i> {{ items.0.created_by_join }}
                        </a>
                    </div>
                    <div class="text-capitalize">
                        <i class="fa fa-clock-o"></i> {{ items.0.date_created|date('d M Y H:i') }}
                    </div>
                    <div class="text-capitalize pull-right">
                        <a>
                            <i class="fa fa-comments"></i> Comments (2)
                        </a>
                    </div>
                </div>

                <div class="clearfix"></div>
                <div class="cms-article-content">
                    <p>
                        {{ items.0.blog|striptags|truncate(200)|raw }}
                    </p>
                </div>   
            </div>

            <div class="col-sm-6">
                <div class="cms-article-img-wrapper">
                    <img src="{{ resized_image(items.0.image_file, 300, 200) }}" alt="{{ items.0.title }}" title="{{ items.0.title }}" align="left">
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>


    <div class="cms-articles">
        {% if items|length > 0 %}
            {% for key,item in items %}

                {% set item_url = generate_url('cms.blogs.detail',  null, 0, item) %}

                {% if key %}
                    {% set div_row_begin = '<div class="cms-row-article">' %}
                    {% set div_row_end = '</div>' %}

                    {% if key%2 %}
                        {{ div_row_begin|raw }}
                    {% endif %} 

                    <div class="col-sm-6">
                        <div class="cms-article">


                            <div class="cms-article-img-wrapper">
                                <a>
                                    <img src="{{ resized_image(item.image_file, 300, 200) }}" alt="{{ items.title }}" title="{{ items.title }}">
                                </a>
                            </div>
                            <div class="cms-article-title">
                                <a href="{{ item_url }}">
                                    {{ item.title }}
                                </a>
                            </div>

                            <div class="article-update-info">
                                <div class="text-capitalize">
                                    <a>
                                        <i class="fa fa-user"></i> {{ item.created_by_join }}
                                    </a>
                                </div>
                                <div class="text-capitalize">
                                    <i class="fa fa-clock-o"></i> {{ items.0.date_created|date('d M Y H:i') }}
                                </div>
                                <div class="text-capitalize pull-right">
                                    <a>
                                        <i class="fa fa-comments"></i> Comments (2)
                                    </a>
                                </div>
                            </div>

                        </div>
                        <div class="clearfix"></div>
                    </div>

                    {% if not key%2 or key+1 == items|length  %}
                        {{ div_row_end|raw }}
                    {% endif %}

                {% endif %}
            {% endfor %}
        {% endif %}
    </div>

    <div class="clearfix"></div>

    {% include "items.pagination.twig"%}

    {{ forms.input('_token' ) }} 


</form>